<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}{{_("Povo Conta")}}{% endblock %}</title>
    {% block styles %}{% endblock %}
    <script>
    {% block scripts %}{% endblock %}
    </script>
</head>
<body>
{% block navbar %}
<div class="topnav" id="myTopnav">
    <a href="{{url_for('museudoipiranga')}}" class="active">{{_("Povo Conta")}}</a>
    <a href="{{url_for('sobre')}}">{{_("Sobre")}}</a>
    <a href="{{url_for('tutorial')}}">{{_("Como jogar?")}}</a>
    {% block divright %}{% endblock %}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
{% endblock %}
<div class="w3-container">
    {% block banner %}{% endblock banner %}
    {% block content %}{% endblock %}
    <div class="w3-row w3-padding" style="text-align:center;">
        <hr>
        <p style="font-size:85%;">{{_("<i>Povo Conta</i> é um jogo desenvolvido no contexto do
            <i><b><a target='_blank' href='https://pt.wikipedia.org/wiki/Wikipédia:GLAM/Museu_Paulista'>Projeto Novo Museu do Ipiranga</a></b></i>, organizado pelo <b>Grupo de Usuários Wikimedia no Brasil</b>
            e o <b>Museu do Ipiranga</b>, em parceria com a <b>Fundação Banco do Brasil</b> e com realização da
            <b>Universidade de São Paulo</b> e a <b>Fundação de Apoio à Universidade de São Paulo</b>.")}}</p>
    </div>
</div>
</body>
</html>
