{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Amatic+SC:700" type='text/css'>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
{% endblock %}
<h1 style="text-align:center"><a href="/" class="nav-link">{{ _("Wikidatificador de Imagens") }}</a></h1>
<p style="text-align:center">{{ _("Escolha uma ação:") }}</p>
<p style="text-align:center">
    <a href="{{ url_for('wikidatify') }}">
        <button name="wikidatify"
                class="wikidatify"
                value="wikidatify">{{ _("Wikidatificar") }}</button>
    </a>
</p>
<p style="text-align:center">
    <a href="{{ url_for('validate') }}" style="text-align:center">
        <button name="validate"
                class="validate"
                value="wikidatify">{{ _("Validar") }}</button>
    </a>
</p>