{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block scripts %}
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
{% endblock %}

{% block divright %}
    {% if username %}
        <a class="right" href="{{ url_for('logout', next=request.script_root + request.full_path) }}"><span class="fas fa-sign-out-alt" aria-hidden="true"></span> {{_("Sair")}}</a>
        <a class="right" target="_blank" href="https://www.wikidata.org/wiki/Special:Contributions/{{username}}">{{username}}</a>
    {% else %}
        <a class="right" href="{{ url_for('login', next=request.script_root + request.full_path) }}"><span class="fas fa-sign-in-alt" aria-hidden="true"></span> {{_("Autenticar-se")}}</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="w3-row" style="padding-top:30px">
  <div class="w3-container w3-half">
      <img src="{{work_data.reduced_image}}" width="100%">
      <a href="{{work_data.image}}" target="_blank" style="text-align:center">
          {{_("Veja essa imagem no Wikimedia Commons")}}
      </a>
  </div>
  <div class="w3-container w3-half" style="text-align:left; font-family: 'Josefin Sans', sans-serif; font-size:150%">
      <div class="w3-row">
          <b>Obra:</b> <a target="_blank" href="https://www.wikidata.org/wiki/{{entity}}">{{work_data.work_label}}</a>
          {% if work_data.artists and work_data.artists|length > 0 %}
                <br><b>Artista{% if work_data.artists|length > 1 %}(s){% endif %}:</b> {% for artist in work_data.artists %}
                <a target="_blank" href="https://www.wikidata.org/wiki/{{artist.qid}}">{{artist.label}}</a>{{ "; " if not loop.last }}
                {% endfor %}
          {% endif %}
          {% if work_data.date %}
                <br><b>Data:</b> {{work_data.date}}
          {% endif %}
          {% if work_data.instances and work_data.instances|length > 0 %}
                <br><b>Instância de:</b> {% for instance in work_data.instances %}
                <a target="_blank" href="https://www.wikidata.org/wiki/{{instance.qid}}">{{instance.label}}</a>{{ "; " if not loop.last }}
                {% endfor %}
          {% endif %}
          {% if work_data.materials and work_data.materials|length > 0 %}
                <br><b>{% if work_data.instances|length > 1 %}Materiais utilizados{% else %}Material utilizado{% endif %}:</b> {% for material in work_data.materials %}
                <a target="_blank" href="https://www.wikidata.org/wiki/{{material.qid}}">{{material.label}}</a>{{ "; " if not loop.last }}
                {% endfor %}
          {% endif %}
          {% if work_data.commissioners and work_data.commissioners|length > 0 %}
                <br><b>Encomendada por:</b> {% for commissioner in work_data.commissioners %}
                <a target="_blank" href="https://www.wikidata.org/wiki/{{commissioner.qid}}">{{commissioner.label}}</a>{{ "; " if not loop.last }}
                {% endfor %}
          {% endif %}
      </div>
      <div class="w3-row"><hr></div>
      {% if work_depicts %}
        <div class="w3-row">
            <p style="text-align:center;font-size:125%;font-weight:bold;">{{ _("Quantos itens de cada descritor você vê?") }}</p>
            <form action="{{ url_for('save_quantities', qid=entity) }}" method="post">
                {% for depict in work_depicts %}
                    <div class="form-group">
                        <label for="{{depict.depict_id}};{{depict.quantity_hash}}"><a target="_blank" href="https://www.wikidata.org/wiki/{{depict.depict_qid}}">{{depict.depict_label}}</a>:{% if depict.depict_desc %}<br><small><i>{{depict.depict_desc}}</i></small> {% endif %}</label>
                        {% if depict.quantity_value == 0%}
                            <input type="number" class="form-control" name="{{depict.depict_id}};{{depict.quantity_hash}}" min="0" step="1" value="" style="font-size:100%">
                        {% else %}
                            <input type="number" class="form-control" name="{{depict.depict_id}};{{depict.quantity_hash}}" min="0" step="1" value="{{depict.quantity_value}}" style="font-size:100%">
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="w3-row">
                    <div class="w3-container w3-third">
                        {% if not username %}
                            <a href="{{ url_for('login', next=request.script_root + request.full_path) }}">
                                <button type="button" class="button" id="confirm_disabled" style="background-color:#848484;width:100%;margin:0;font-size:100%;">
                                    {{_("AUTENTICAR")}}
                                </button>
                            </a>
                        {% else %}
                            <button type="submit" class="button" id="confirm" style="background-color:#547473;width:100%;margin:0;font-size:100%;">
                                {{_("CONFIRMAR")}}
                            </button>
                        {% endif %}
                    </div>
                    <div class="w3-container w3-third">
                        <a href="{{ url_for('view_work_museudoipiranga', qid=skip, goback=entity) }}"><button type="button" class="button" id="skip" style="background-color:#848484;width:100%;margin:0;font-size:100%;">{{_("PULAR")}}</button></a>
                    </div>
                    <div class="w3-container w3-third">
                        {% if not first %}
                            <a href="{{ url_for('view_work_museudoipiranga', qid=request.args.get('goback')) }}"><button type="button" class="button" id="goback" style="background-color:#e2725b;width:100%;margin:0;font-size:100%;">{{_("VOLTAR")}}</button></a>
                        {% else %}
                            <a href="{{ url_for('museudoipiranga') }}"><button type="button" class="button" id="backtobegin" style="background-color:#e2725b;width:100%;margin:0;font-size:100%;">{{_("INÍCIO")}}</button></a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
      {% endif %}
  </div>
</div>
{% endblock %}