{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Amatic+SC:700" type='text/css'>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block scripts %}
    function validate_or_quantify(depict){
        document.getElementById("instructions").style.display="none";
        var elements = document.getElementsByName("depicts");
        var quantity_of = "{{_('Quantidade de ')}}"
        var quantity_of = "{{_('Quantidade de ')}}"
        for(var i=0; i < elements.length; i++) {
            if (elements[i].id==depict.id) {
                elements[i].style.backgroundColor="#06b6c9";
                if (depict.quantity > 0) {
                    document.getElementById("quantity_label").textContent=quantity_of+'"'+depict.name+'": '+depict.quantity;
                    document.getElementById("quantity_validator").style.display="inline";
                    document.getElementById("quantity_quantificator").style.display="none";
                    document.getElementById("validator_no").value=depict.id+";"+depict.hash;
                    document.getElementById("validator_yes").value=depict.id;
                    document.getElementById("validator_maybe").value=depict.id
                }
                else {
                    document.getElementById("quantity_validator").style.display="none";
                    document.getElementById("insert_label").textContent=quantity_of+'"'+depict.name+'":';
                    document.getElementById("quantity_quantificator").style.display="inline";
                    document.getElementById("insert_button").value=depict.id;
                }
            }
            else {
                elements[i].style.backgroundColor="#d4d4d4";
            }
        }
    }
{% endblock %}

{% block navright %}
    {% if username %}
        <li class="nav-item" style="display:inline;">
            <a href="https://www.wikidata.org/wiki/Special:Contributions/{{username}}">
                <button style="
                background-color: white;
                border: none;
                border-radius: 5px;
                color: #547473;
                padding: 10px;
                align: center;">
                {{username}}
            </button>
            </a>
        </li>
        <li class="nav-item" style="display:inline;">
            <a href="{{ url_for('logout', next=request.script_root + request.full_path) }}">
                <button style="background-color: white;
                               border: none;
                               border-radius: 5px;
                               color: #547473;
                               padding: 10px;
                               align: center;">
                    <span class="fas fa-sign-out-alt" aria-hidden="true"></span>
                    {{_("Sair")}}
                </button>
            </a>
        </li>
    {% else %}
        <li class="nav-item" style="display:inline;">
            <a href="{{ url_for('login', next=request.script_root + request.full_path) }}">
                <button style="
                background-color: white;
                border: none;
                border-radius: 5px;
                color: #547473;
                padding: 10px;
                align: center;">
                    <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
                    {{_("Autenticar-se")}}
                </button>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block banner %}
    <br/>
    <div class="container" style="width:50%">
        <h1 style="text-align:center;">{{ _("Povo Conta") }}<br><small style="font-size: 0.48em;">{{ _("Novo Museu do Ipiranga") }}</small></h1><br/>
        <p style="text-align:center">{{ _("Esta é uma ferramenta Wiki para inserir e validar os qualificadores de quantidade de itens retratados em entidades do Wikidata.") }}</p><br/>
    </div>
{% endblock %}

{% block content %}
<div id="validate" style="display:inline">
    <table style="text-align:center;width:100%;">
        <tr>
            <td rowspan="2" valign="top"><img src="{{ image }}" style="max-widht:1000px; max-height:500px; align:center;"></td>
            <td align="center" style="width:50%;height:40%">
                <p id="instructions" style="text-align:center">
                    {{_("Selecione abaixo uma das entidades retratadas na imagem ao lado.")}}
                </p>
                <div id="quantity_validator" style="display:none">
                    <p id="quantity_label" style="text-align:center"></p>
                        <ul>
                            <li>
                                <a href="{{ url_for('view_work_museupaulista', url_prefix=url_prefix, qid=entity) }}" style="display:inline">
                                    <button class="button" id="validator_yes" style="background-color:green" onclick="yes_or_maybe()">{{_("SIM")}}</button>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('view_work_museupaulista', url_prefix=url_prefix, qid=entity) }}" style="display:inline">
                                    <button class="button" id="validator_maybe" style="background-color:#d4d4d4" onclick="yes_or_maybe()">{{_("NÃO SEI")}}</button>
                                </a>
                            </li>
                            <li>
                                <form action="{{ url_for('view_work_museupaulista', url_prefix=url_prefix, qid=entity) }}" method="post" style="display:inline">
                                    <button type="submit" class="button" name="confirmation" id="validator_no" style="background-color:red;font-family: 'Josefin Sans', sans-serif;">{{_("NÃO")}}</button>
                                </form>
                            </li>
                        </ul>
                </div>
                <div id="quantity_quantificator" style="display:none">
                    <p id="insert_label" style="text-align:center"></p>
                    <form action="{{ url_for('view_work_museupaulista', url_prefix=url_prefix, qid=entity) }}" method="post">
                        <input type="number" name="quantity_statement" class="input" min="0" step="1" value="0"/><br><br>
                        <button type="submit" class="button" name="confirmation_quantity" id="insert_button" style="background-color:green">{{_("CONFIRMAR")}}</button>
                    </form>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for depict in depicts %}
                    <li>
                        <button class="button" name="depicts" id="{{ depict.id }}" onclick="validate_or_quantify({{ depict }})" style="background-color:#d4d4d4;padding:8px;;font-size:1em;" >
                            {{depict.name}} ({{depict.quantity}})
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
</div>
<div id="quantify" style="display:none"></div>
{% endblock %}