{% extends "base.html" %}

{% block external_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename= 'jquery.zoom.js') }}"></script>
{% endblock %}

{% block divright %}
    {% if lang != 'en' %}
        <a class="right" tabindex="0" href="{{url_for('set_locale', return_to=request.script_root + request.full_path, lang='en')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Flag-us.svg" width="25px" alt="en"></a>
    {% endif %}
    {% if lang != 'pt' and lang != 'pt-BR' %}
        <a class="right" tabindex="0" href="{{url_for('set_locale', return_to=request.script_root + request.full_path, lang='pt')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Flag-br.svg" width="25px" alt="pt"></a>
    {% endif %}
    {% if username %}
        <a class="right" tabindex="0" target="_blank" href="https://www.wikidata.org/wiki/Special:Contributions/{{username}}">{{username}}</a>
    {% endif %}
{% endblock %}

{% block title %}{{work_data.work_label}} | {{ _("Povo Conta") }}{% endblock %}

{% block content %}
<div class="w3-row" style="padding-top:30px;overflow: hidden;z-index: 1">
    <div id="image" class="w3-container w3-half">
        <div class="img-magnifier-container">
            <img id="image_item" alt="{{work_data.work_label}}"
                 src="http://commons.wikimedia.org/wiki/Special:FilePath/{{work_data.image}}?width=2000px" width="100%" style="align-self: center;" >
        </div>
        <a tabindex="0" href="http://commons.wikimedia.org/wiki/Special:FilePath/{{work_data.image}}" target="_blank" style="text-align:center">
            {{_("Veja essa imagem no Wikimedia Commons")}}
        </a>
    </div>
    <div id="metadata" class="w3-container w3-half" style="text-align:left; font-family: 'Josefin Sans', sans-serif; font-size:150%">
        <table class="table table-responsive table-striped" style="overflow: hidden; width: 100%; font-size: 115%; table-layout: fixed; overflow-wrap: break-word;">
            <tr>
                <th>{{ _("Obra") }}</th>
                <td><a tabindex="0" target="_blank" href="https://www.wikidata.org/wiki/{{entity}}">{{work_data.work_label}}</a></td>
            </tr>
            {% if work_data.creators and work_data.creators|length > 0 %}
                <tr>
                    <th>{{_("Criador(a)")}}</th>
                    <td>
                        {% for creator in work_data.creators %}
                        <a tabindex="0" target="_blank" href="https://www.wikidata.org/wiki/{{creator.qid}}">{{creator.label}}</a>{{ "; " if not loop.last }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if work_data.date %}
                <tr>
                    <th>{{_("Data")}}</th>
                    <td>
                        {{work_data.date}}
                    </td>
                </tr>
            {% endif %}
            {% if work_data.instances and work_data.instances|length > 0 %}
                <tr>
                    <th>{{_("Instância de")}}</th>
                    <td>
                        {% for instance in work_data.instances %}
                        <a tabindex="0" target="_blank" href="https://www.wikidata.org/wiki/{{instance.qid}}">{{instance.label}}</a>{{ "; " if not loop.last }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if work_data.materials and work_data.materials|length > 0 %}
                <tr>
                    <th>{% if work_data.instances|length > 1 %}{{_("Materiais utilizados")}}{% else %}{{_("Material utilizado")}}{% endif %}</th>
                    <td>
                        {% for material in work_data.materials %}
                        <a tabindex="0" target="_blank" href="https://www.wikidata.org/wiki/{{material.qid}}">{{material.label}}</a>{{ "; " if not loop.last }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if work_data.encomendador and work_data.encomendador|length > 0 %}
                <tr>
                    <th>{{_("Encomendada por")}}</th>
                    <td>
                        {% for commissioner in work_data.commissioners %}
                        <a tabindex="0" target="_blank" href="https://www.wikidata.org/wiki/{{commissioner.qid}}">{{commissioner.label}}</a>{{ "; " if not loop.last }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if work_data.audios and work_data.audios|length > 0 %}
                <tr>
                    <th>{{_("Versão audível")}}</th>
                    <td>
                        {% for audio in work_data.audios %}
                            <audio controls tabindex="0">
                                <source src="{{audio.file}}">
                                {{_("Seu navegador não suporta o elemento de áudio")}}
                            </audio>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        </table>
        {% if work_depicts %}
            <div class="w3-container">
                <h2 style="text-align:center;font-size:125%;font-weight:bold;">
                    {{ _("Quantos itens de cada descritor você vê?") }}
                </h2>
            </div>
            <div class="w3-container">
                <form action="{{ url_for('save_quantities', qid=entity, lang=lang) }}" method="post">
                    {% for depict in work_depicts %}
                        <div class="form-group">
                            {% if depict.quantity_value == 0%}
                                <label for="{{depict.depict_label}}"><a tabindex="0" target="_blank" href="https://www.wikidata.org/wiki/{{depict.depict_qid}}">{{depict.depict_label}}</a>{% if depict.depict_desc %}: <small>{{depict.depict_desc}}</small> {% endif %}</label>
                                <input type="number" id="{{depict.depict_label}}" class="form-control" name="{{depict.depict_id}};{{depict.quantity_hash}}" min="0" step="1" value="" style="font-size:100%">
                            {% else %}
                                <label for="{{depict.depict_label}}_with_quantity"><a tabindex="0" target="_blank" href="https://www.wikidata.org/wiki/{{depict.depict_qid}}">{{depict.depict_label}}</a>{% if depict.depict_desc %}: <small>{{depict.depict_desc}}</small> {% endif %}</label>
                                <input type="number" id="{{depict.depict_label}}_with_quantity" class="form-control" name="{{depict.depict_id}};{{depict.quantity_hash}}" min="0" step="1" value="{{depict.quantity_value}}" style="font-size:100%">
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="w3-row">
                        <div class="w3-container w3-third">
                            {% if not username %}
                                <a tabindex="0" href="{{ url_for('login', next=request.script_root + request.full_path) }}">
                                    <button type="button" class="button" id="confirm_disabled" style="background-color:#525252;width:100%;margin:0;font-size:95%;">{{_("AUTENTICAR")}}</button>
                                </a>
                            {% else %}
                                <button type="submit" class="button" id="confirm" style="background-color:#547473;width:100%;margin:0;font-size:100%;">
                                    {{_("CONFIRMAR")}}
                                </button>
                            {% endif %}
                        </div>
                        <div class="w3-container w3-third">
                            <a tabindex="0" href="{{ url_for('view_work_museudoipiranga', qid=skip, goback=entity, lang=lang) }}">
                                <button type="button" class="button" id="skip" style="background-color:#525252;width:100%;margin:0;font-size:100%;">
                                    {{_("PULAR")}}
                                </button>
                            </a>
                        </div>
                        <div class="w3-container w3-third">
                            {% if not first %}
                                <a tabindex="0" href="{{ url_for('view_work_museudoipiranga', qid=request.args.get('goback'), lang=lang) }}">
                                    <button type="button" class="button" id="goback" style="background-color:#D04125;width:100%;margin:0;font-size:100%;">
                                        {{_("VOLTAR")}}
                                    </button>
                                </a>
                            {% else %}
                                <a tabindex="0" href="{{ url_for('museudoipiranga') }}">
                                    <button type="button" class="button" id="backtobegin" style="background-color:#D04125;width:100%;margin:0;font-size:100%;">
                                        {{_("INÍCIO")}}
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function(){
            $('#image_item')
                .wrap('<span style="display:inline-block"></span>')
                .css('display', 'block')
                .parent()
                .zoom(3);
        });
</script>
{% endblock %}