{% extends "base.html" %}

{% block initial_text %}
    <div class="w3-row" id="instruções" style="text-align: center">
        <div class="w3-container w3-quarter"></div>
        <div class="w3-container w3-half">
            <h2 style="text-align:center; padding-bottom:30px;">
                {{ _("Bem-vindo(a) ao <i>Wiki Museu do Ipiranga - Quantos tem?</i>")}}
            </h2>
            <h3 style="text-align:center; padding-bottom:30px;">
                {{_("Neste aplicativo, você participa do trabalho de pesquisa do Museu do Ipiranga. Sua tarefa: contar quantos elementos estão presentes nas obras do acervo. Para participar, é preciso autenticar-se; depois, escolha uma categoria abaixo para começar.") }}
            </h3>
        </div>
    </div>
{% endblock%}

{% block content %}
<div class="w3-row" id="buttons" style="text-align: center">
    <div class="w3-container w3-quarter"></div>
    <div class="w3-container w3-half">
        <ul class="w3-container w3-half">
            <li>
                <a href="{{ url_for('show_per_collection') }}" tabindex="0" style="font-size: 135%;">
                    <button name="per_collection" class="button" value="per_collection" style="width:100%;">
                        {{ _("Coleções") }}
                    </button>
                </a>
            </li>
            <li>
                <a href="{{ url_for('show_per_creator') }}" tabindex="0" style="font-size: 135%;">
                    <button name="per_creator" class="button" value="per_creator" style="width:100%;">
                        {{ _("Criadores") }}
                    </button>
                </a>
            </li>
            <li>
                <a href="{{ url_for('show_per_decade') }}" tabindex="0" style="font-size: 135%;">
                    <button name="per_decade" class="button" value="per_decade" style="width:100%;">
                        {{ _("Décadas") }}
                    </button>
                </a>
            </li>
        </ul>
        <ul class="w3-container w3-half">
            <li>
                <a href="{{ url_for('show_per_instance') }}" tabindex="0" style="font-size: 135%;">
                    <button name="per_instance" class="button" value="per_instance" style="width:100%;">
                        {{ _("Tipos de obra") }}
                    </button>
                </a>
            </li>
            <li>
                <a href="{{ url_for('show_per_depict') }}" tabindex="0" style="font-size: 135%;">
                    <button name="per_depict" class="button" value="per_depict" style="width:100%;">
                        {{ _("Descritores") }}
                    </button>
                </a>
            </li>
        </ul>
    </div>
    <div class="w3-container w3-quarter"></div>
</div>
{% endblock %}