{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Amatic+SC:700" type='text/css'>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block navright %}
    {% if username %}
        <li class="nav-item">
            <button style="background-color: white;
                           border: none;
                           border-radius: 5px;
                           color: #547473;
                           padding: 10px;
                           align: center;">
                {{username}}
            </button>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('logout') }}">
                <button style="background-color: white;
                               border: none;
                               border-radius: 5px;
                               color: #547473;
                               padding: 10px;
                               align: center;">
                    <span class="fas fa-sign-out-alt" aria-hidden="true"></span>
                    {{_("Sair")}}
                </button>
            </a>
        </li>
    {% else %}
        <li class="nav-item">
            <a href="{{ url_for('login') }}">
                <button style="
                background-color: white;
                border: none;
                border-radius: 5px;
                color: #547473;
                padding: 10px;
                align: center;">
                    <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
                    {{_("Autenticar-se")}}
                </button>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block banner %}
    <br/>
    <div class="container" style="width:50%">
        <h1 style="text-align:center;">{{ _("Povo Conta") }}</h1><br/>
        <p style="text-align:center">{{ _("Navegue pelo acervo do Novo Museu do Ipiranga e valide as edições de outras pessoas ou insira novas informações nos itens do acervo.") }}</p><br/>
    </div>
{% endblock %}

{% block content %}
<p style="text-align:center">{{ _("Escolha uma opção:") }}</p>
<ul style="text-align:center">
    <li>
        <a href="{{ url_for('show_per_collection') }}">
            <button name="per_collection" class="button" value="per_collection">
                {{ _("Por coleção") }}
            </button>
        </a>
    </li>
    <li>
        <a href="{{ url_for('show_per_collection') }}">
            <button name="per_artist" class="button" value="per_artist">
                {{ _("Por artista") }}
            </button>
        </a>
    </li>
    <li>
        <a href="{{ url_for('show_per_collection') }}">
            <button name="per_decade" class="button" value="per_decade">
                {{ _("Por década") }}
            </button>
        </a>
    </li>
    <li>
        <a href="{{ url_for('show_per_collection') }}">
            <button name="per_type" class="button" value="per_type">
                {{ _("Por tipo") }}
            </button>
        </a>
    </li>
</ul>
{% endblock %}