{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block divright %}
    {% if lang != 'en' %}
        <a class="right" tabindex="0" href="{{url_for('set_locale', return_to=request.script_root + request.full_path, lang='en')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Flag-us.svg" width="25px" alt="en"></a>
    {% endif %}
    {% if lang != 'pt' and lang != 'pt-BR' %}
        <a class="right" tabindex="0" href="{{url_for('set_locale', return_to=request.script_root + request.full_path, lang='pt')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Flag-br.svg" width="25px" alt="pt"></a>
    {% endif %}
    {% if username %}
        <a class="right" tabindex="0" target="_blank" href="https://www.wikidata.org/wiki/Special:Contributions/{{username}}">{{username}}</a>
    {% endif %}
{% endblock %}

{% block title %}{{_("Décadas")}} | {{ _("Povo Conta") }}{% endblock %}

{% block initial_text %}
<div class="w3-row" id="initial_text" style="text-align: center">
    <div class="w3-container w3-quarter"></div>
    <div class="w3-container w3-half">
        <p>
            {% set pagina_inicial %}<a tabindex="0" href="{{ url_for('museudoipiranga') }}">{{_("página inicial")}}</a>{% endset %}
            {% if decade %}
                {% set decade %}{{decade}}{% endset %}
                {% set total_scope %}{{decade_data|length}}{% endset %}
                {% set clique_aqui %}<a tabindex="0" href="{{ url_for('show_per_decade') }}">{{_("clique aqui")}}</a>{% endset %}
                {% if decade == indeterminate %}
                    {{_("Esta é uma coleção de obras do Museu do Ipiranga com a década de produção indeterminada que possuem ao menos uma imagem e um descritor no Wikidata.")}}
                {% else %}
                    {{_("Esta é uma coleção de obras do Museu do Ipiranga da década de %(decade)s que possuem ao menos uma imagem e um descritor no Wikidata.", decade=decade)}}
                {% endif %}
                {% if decade_data|length > 1 %}
                    {{_("Há atualmente %(total_scope)s obras registradas no banco de dados que satisfazem esses critérios.", total_scope=total_scope)}}
                {% elif decade_data|length == 1 %}
                    {{_("Há atualmente uma obra registrada no banco de dados que satisfaz esses critérios.")}}
                {% else %}
                    {{_("Não há atualmente nenhuma obra registrada no banco de dados que satisfaz esses critérios.")}}
                {% endif %}
                <br><small>{{ _("Para voltar à página anterior, %(clique_aqui)s.", clique_aqui=clique_aqui) }}</small>
            {% else %}
                {{ _("Escolha uma década para começar a jogar.") }}
                {{_("Ou volte à %(pagina_inicial)s.", pagina_inicial=pagina_inicial)}}
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="button_list" class="container">
    <ul class="buttons_list">
        {% for decade in decades %}
            <li>
                <a tabindex="0" href="{{ url_for('show_works_of_decade',decade=decade.label) }}">
                    <button name="decade" class="button" value="{{decade.label}}" style="width:100%;height:100%">
                        {{ decade.label }}
                    </button>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div id="image_list" class="container" style="width:100%">
    <div class="container" style="column-width:200px;">
        {% for work in decade_data %}
        <a tabindex="0" href="{{url_for('view_work_museudoipiranga', qid=work.qid, lang=lang) }}">
            <div class="grid_image">
                <img src="{{ work.image }}" width="100%" alt="{{ work.label }}"
                     style="object-fit:contain;max-widht:1000px; max-height:500px; align:center;"/>
                <div class="overlay"><div class="text-area">{{work.label}}</div></div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}