{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block scripts %}
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
{% endblock %}

{% block divright %}
    {% if lang != 'en' %}
        <a class="right" href="{{url_for('set_locale', return_to=request.script_root + request.full_path, lang='en')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Flag-us.svg" width="25px"></a>
    {% endif %}
    {% if lang != 'pt' and lang != 'pt-BR' %}
        <a class="right" href="{{url_for('set_locale', return_to=request.script_root + request.full_path, lang='pt')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Flag-br.svg" width="25px"></a>
    {% endif %}
    {% if username %}
        <a class="right" target="_blank" href="https://www.wikidata.org/wiki/Special:Contributions/{{username}}">{{username}}</a>
    {% endif %}
{% endblock %}

{% block banner %}
    <br/>
    <div class="container" style="width:100%">
        <p style="text-align:center;font-size:1.2em;">
            {% set pagina_inicial %}<a href="{{ url_for('museudoipiranga') }}">{{_("página inicial")}}</a>{% endset %}
            {% if depict and depict_data %}
                {% set depict_label %}<a target="_blank" href="https://www.wikidata.org/wiki/{{qid}}">{{depict_data.depict_label}}</a>{% endset %}
                {% set total_scope %}{{depict_data|length}}{% endset %}
                {% set clique_aqui %}<a href="{{ url_for('show_per_depict') }}">{{_("clique aqui")}}</a>{% endset %}
                {{_("Esta é uma coleção de obras do Museu do Ipiranga que retratam %(depict_label)s e que possuem ao menos uma imagem e um descritor no Wikidata.", depict_label=depict_label)}}
                {% if depict_data.total_scope > 1 %}
                    {{_("Há atualmente %(total_scope)s obras registradas no banco de dados que satisfazem esses critérios.", total_scope=total_scope)}}
                {% elif depict_data.total_scope == 1 %}
                    {{_("Há atualmente uma obra registrada no banco de dados que satisfaz esses critérios.")}}
                {% else %}
                    {{_("Não há atualmente nenhuma obra registrada no banco de dados que satisfaz esses critérios.")}}
                {% endif %}
                <br><small>{{ _("Para voltar à página anterior, %(clique_aqui)s.", clique_aqui=clique_aqui) }}</small>
            {% else %}
                {{ _("Escolha um descritor para começar a jogar.") }}
                {{_("Ou volte à %(pagina_inicial)s.", pagina_inicial=pagina_inicial)}}
            {% endif %}
        </p><br/>
    </div>
{% endblock %}

{% block content %}
<ul style="text-align:center">
    {% for depict in depicts %}
        <li>
            <a href="{{ url_for('show_works_of_depict', qid=depict.qid) }}">
                <button name="depict" class="button" value="{{depict.qid}}">
                    {{ depict.label }}
                </button>
            </a>
        </li>
    {% endfor %}
</ul>
<ul style="text-align:center">
    {% for work in depict %}
    <li>
        <a href="{{url_for('view_work_museudoipiranga', qid=work.qid, lang=lang) }}">
            <img src="{{ work.image }}" style="object-fit:contain;max-widht:1000px; max-height:500px; align:center;"/>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}