{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'pagination.css') }}" type='text/css'>
{% endblock %}

{% block external_scripts %}
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename= 'pagination.js') }}"></script>
{% endblock %}

{% block title %}{{_("Criadores")}} | {{ _("Wiki Museu do Ipiranga - Quantos tem?") }}{% endblock %}

{% block initial_text %}
<div class="w3-row" id="initial_text" style="text-align: center">
    <div class="w3-container w3-quarter"></div>
    <div class="w3-container w3-half">
        <p>
            {% set pagina_inicial %}<a tabindex="0" href="{{ url_for('museudoipiranga') }}">{{_("página inicial")}}</a>{% endset %}
            {% if creator and creator_data %}
                {% set creator_with_article %}<a tabindex="0" target="_blank" href="https://pt.wikipedia.org/wiki/{{creator_data.creator_article}}">{{creator_data.creator_label}}</a>{% endset %}
                {% set creator_label %}{{creator_data.creator_label}}{% endset %}
                {% set total %}{{creator_data.total}}{% endset %}
                {% set wikidata %}{{_("Wikidata")}}{% endset %}
                {% set total_scope %}{{creator_data.total_scope}}{% endset %}
                {% set clique_aqui %}<a tabindex="0" href="{{ url_for('show_per_creator') }}">{{_("clique aqui")}}</a>{% endset %}
                {% if creator_data.creator_label and creator_data.total_scope %}
                    {% if creator_data.creator_article %}
                        {{_("Esta é a coleção de obras de %(creator_article)s no Museu do Ipiranga que possuem ao menos uma imagem e um descritor no Wikidata.", creator_article=creator_with_article)}}
                    {% else %}
                        {{_("Esta é a coleção de obras de %(creator_label)s no Museu do Ipiranga que possuem ao menos uma imagem e um descritor no Wikidata.", creator_label=creator_label)}}
                    {% endif %}
                    {% if creator_data.total_scope > 1 %}
                        {{_("Atualmente são %(total_scope)s obras que cumprem esses critérios.", total_scope=total_scope)}}
                    {% elif creator_data.total_scope == 1 %}
                        {{_("Há atualmente somente uma imagem no banco de dados que satisfaz esses critérios.")}}
                    {% else %}
                        {{_("Atualmente não há nenhuma imagem no banco de dados que satisfaz esses critérios.")}}
                    {% endif %}
                    {% if creator_data.total == '1' %}
                        {{_("Há um total de uma obra de %(creator_label)s no Museu do Ipiranga cadastrada no banco de dados do Wikidata.", creator_label=creator_label)}}
                    {% else %}
                        {{_("Há um total de %(total)s obras de %(creator_label)s no Museu do Ipiranga cadastradas no banco de dados do Wikidata.", total=total, creator_label=creator_label, wikidata=wikidata )}}
                    {% endif %}
                {% endif %}
            <br><small>{{ _("Para voltar à página anterior, %(clique_aqui)s.", clique_aqui=clique_aqui) }}</small>
            {% else %}
                {{ _("Escolha um(a) criador(a) para começar a jogar.") }}
                {{_("Ou volte à %(pagina_inicial)s.", pagina_inicial=pagina_inicial)}}
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="button_list" class="container">
    <ul class="buttons_list">
        {% for creator in creators %}
            <li>
                <a tabindex="0" href="{{ url_for('show_works_of_creator',qid=creator.qid) }}">
                    <button name="creator" class="button" value="{{creator.qid}}" style="width:100%;height:100%">
                        {{ creator.label }}
                    </button>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% if creator %}
    <div id="pagination-container" style="padding: 30px"></div>
    <div id="image_list" class="container" style="width:100%;">
        <div class="container" id="image_container" style="column-width:200px;">
        </div>
    </div>
{% endif %}

<script>
    $('#pagination-container').pagination({
        dataSource: {{ creator|tojson }},
        pageSize: 20,
        pageRange: null,
        callback: function(data, pagination) {
            var html = simpleTemplating(data);
            $("#image_container").html(html);
        }
    });

    function simpleTemplating(data) {
        var html = "";
        var lang = {{ lang|tojson }}
        ;
        $.each(data, function (index, item) {
            html += '<a tabindex="0" href="/qid/' + item.qid + '/' + lang + '">' +
                '<div class="grid_image" style="width:100%">' +
                '<img src="https://commons.wikimedia.org/wiki/Special:FilePath/' +
                item.image +
                '?width=500px" width="100%" height=auto alt="' +
                item.label +
                '" style="object-fit:contain;max-widht:1000px; align:center;"/>' +
                '<div class="overlay"><div class="text-area">' + item.label + '</div></div></div></a>';
        });
        return html;
    }
</script>
{% endblock %}