{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block scripts %}
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
{% endblock %}

{% block divright %}
    {% if lang != 'en' %}
        <a class="right" href="{{url_for('set_locale', return_to=request.script_root + request.full_path, lang='en')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Flag-us.svg" width="25px"></a>
    {% endif %}
    {% if lang != 'pt' and lang != 'pt-BR' %}
        <a class="right" href="{{url_for('set_locale', return_to=request.script_root + request.full_path, lang='pt')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Flag-br.svg" width="25px"></a>
    {% endif %}
    {% if username %}
        <a class="right" target="_blank" href="https://www.wikidata.org/wiki/Special:Contributions/{{username}}">{{username}}</a>
    {% endif %}
{% endblock %}

{% block banner %}
    <div class="w3-row" style="padding-top:30px;padding-bottom:30px">
        <h1 style="text-align:center;">{{ _("Povo Conta") }}<br><small style="font-size: 0.6em;">{{ _("Museu do Ipiranga") }}</small></h1>
    </div>
    <div class="container" style="width:100%">
        <p style="text-align:center;">
            {% set pagina_inicial %}<a href="{{ url_for('museudoipiranga') }}">{{_("página inicial")}}</a>{% endset %}
            {% if instance and instance_data %}
                {% set instance_label %}<a target="_blank" href="https://www.wikidata.org/wiki/{{qid}}">{{instance_data.instance_label}}</a>{% endset %}
                {% set total_scope %}{{instance_data.total_scope}}{% endset %}
                {% set clique_aqui %}<a href="{{ url_for('show_per_instance') }}">{{_("clique aqui")}}</a>{% endset %}

                {{_("Esta é uma coleção de obras do Museu do Ipiranga do tipo %(instance_label)s que possuem ao menos uma imagem e um descritor no Wikidata.", instance_label=instance_label)}}
                {% if instance_data.total_scope > 1 %}
                    {{_("Há atualmente %(total_scope)s obras registradas no banco de dados que satisfazem esses critérios.", total_scope=total_scope)}}
                {% elif instance_data.total_scope == 1 %}
                    {{_("Há atualmente uma obra registrada no banco de dados que satisfaz esses critérios.")}}
                {% else %}
                    {{_("Não há atualmente nenhuma obra registrada no banco de dados que satisfaz esses critérios.")}}
                {% endif %}
                <br><small>{{ _("Para voltar à página anterior, %(clique_aqui)s.", clique_aqui=clique_aqui) }}</small>
            {% else %}
                {{ _("Escolha um tipo de obra para começar a jogar.") }}
                {{_("Ou volte à %(pagina_inicial)s.", pagina_inicial=pagina_inicial)}}
            {% endif %}
        </p><br/>
    </div>
{% endblock %}

{% block content %}
<div class="container" style="width:66%;">
    <ul style="text-align:center; column-count: 4;column-fill: auto;">
        {% for instance in instances %}
            <li>
                <a href="{{ url_for('show_works_of_instance', qid=instance.qid) }}">
                    <button name="instance" class="button" value="{{instance.qid}}" style="width:100%;">
                        {{ instance.label }}
                    </button>
                </a>
            </li>
        {% endfor %}
    </ul>
    <ul style="text-align:center">
        {% for work in instance %}
        <li>
            <a href="{{url_for('view_work_museudoipiranga', qid=work.qid, lang=lang) }}">
                <img src="{{ work.image }}" style="object-fit:contain;max-widht:1000px; max-height:500px; align:center;"/>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}