{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'pagination.css') }}" type='text/css'>
{% endblock %}

{% block external_scripts %}
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename= 'pagination.js') }}"></script>
{% endblock %}

{% block title %}{{_("Décadas")}} | {{ _("Wiki Museu do Ipiranga - Quantos tem?") }}{% endblock %}

{% block initial_text %}
<div class="w3-row" id="initial_text" style="text-align: center">
    <div class="w3-container w3-quarter"></div>
    <div class="w3-container w3-half">
        <p>
            {% set pagina_inicial %}<a tabindex="0" href="{{ url_for('museudoipiranga') }}">{{_("página inicial")}}</a>{% endset %}
            {% if decade %}
                {% set decade %}{{decade}}{% endset %}
                {% set total_scope %}{{decade_data|length}}{% endset %}
                {% set clique_aqui %}<a tabindex="0" href="{{ url_for('show_per_decade') }}">{{_("clique aqui")}}</a>{% endset %}
                {% if decade == indeterminate %}
                    {{_("Esta é uma coleção de obras do Museu do Ipiranga com a década de produção indeterminada que possuem ao menos uma imagem e um descritor no Wikidata.")}}
                {% else %}
                    {{_("Esta é uma coleção de obras do Museu do Ipiranga da década de %(decade)s que possuem ao menos uma imagem e um descritor no Wikidata.", decade=decade)}}
                {% endif %}
                {% if decade_data|length > 1 %}
                    {{_("Há atualmente %(total_scope)s obras registradas no banco de dados que satisfazem esses critérios.", total_scope=total_scope)}}
                {% elif decade_data|length == 1 %}
                    {{_("Há atualmente uma obra registrada no banco de dados que satisfaz esses critérios.")}}
                {% else %}
                    {{_("Não há atualmente nenhuma obra registrada no banco de dados que satisfaz esses critérios.")}}
                {% endif %}
                <br><small>{{ _("Para voltar à página anterior, %(clique_aqui)s.", clique_aqui=clique_aqui) }}</small>
            {% else %}
                {{ _("Escolha uma década para começar a jogar.") }}
                {{_("Ou volte à %(pagina_inicial)s.", pagina_inicial=pagina_inicial)}}
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="button_list" class="container">
    <ul class="buttons_list">
        {% for decade in decades %}
            <li>
                <a tabindex="0" href="{{ url_for('show_works_of_decade',decade=decade.label) }}">
                    <button name="decade" class="button" value="{{decade.label}}" style="width:100%;height:100%">
                        {{ decade.label }}
                    </button>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% if decade_data %}
    <div id="pagination-container" style="padding: 30px"></div>
    <div id="image_list" class="container" style="width:100%">
        <div class="container" id="image_container" style="column-width:200px;">
        </div>
    </div>
{% endif %}

<script>
    $('#pagination-container').pagination({
        dataSource: {{ decade_data|tojson }},
        pageSize: 20,
        pageRange: null,
        callback: function(data, pagination) {
            var html = simpleTemplating(data);
            $("#image_container").html(html);
        }
    });

    function simpleTemplating(data) {
        var html = "";
        var lang = {{ lang|tojson }}
        ;
        $.each(data, function (index, item) {
            html += '<a tabindex="0" href="/qid/' + item.qid + '/' + lang + '">' +
                '<div class="grid_image" style="width:100%">' +
                '<img src="https://commons.wikimedia.org/wiki/Special:FilePath/' +
                item.image +
                '?width=500px" width="100%" height=auto alt="' +
                item.label +
                '" style="object-fit:contain;max-widht:1000px; align:center;"/>' +
                '<div class="overlay"><div class="text-area">' + item.label + '</div></div></div></a>';
        });
        return html;
    }
</script>
{% endblock %}