{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block scripts %}
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
{% endblock %}

{% block divright %}
    {% if lang != 'en' %}
        <a class="right" href="{{url_for('set_locale', return_to=request.script_root + request.full_path, lang='en')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Flag-us.svg" width="25px"></a>
    {% endif %}
    {% if lang != 'pt' and lang != 'pt-BR' %}
        <a class="right" href="{{url_for('set_locale', return_to=request.script_root + request.full_path, lang='pt')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Flag-br.svg" width="25px"></a>
    {% endif %}
    {% if username %}
        <a class="right" target="_blank" href="https://www.wikidata.org/wiki/Special:Contributions/{{username}}">{{username}}</a>
    {% endif %}
{% endblock %}

{% block banner %}
    <div class="w3-row" style="padding-top:30px;padding-bottom:30px">
        <h1 style="text-align:center;">{{ _("Povo Conta") }}<br><small style="font-size: 0.6em;">{{ _("Museu do Ipiranga") }}</small></h1>
    </div>
    <div class="container" style="width:100%">
        <p style="text-align:center;">
            {% set pagina_inicial %}<a href="{{ url_for('museudoipiranga') }}">{{_("página inicial")}}</a>{% endset %}
            {% if creator and creator_data %}
                {% set creator_with_article %}<a target="_blank" href="https://pt.wikipedia.org/wiki/{{creator_data.creator_article}}">{{creator_data.creator_label}}</a>{% endset %}
                {% set creator_label %}{{creator_data.creator_label}}{% endset %}
                {% set total %}{{creator_data.total}}{% endset %}
                {% set wikidata %}{{_("Wikidata")}}{% endset %}
                {% set total_scope %}{{creator_data.total_scope}}{% endset %}
                {% set clique_aqui %}<a href="{{ url_for('show_per_creator') }}">{{_("clique aqui")}}</a>{% endset %}
                {% if creator_data.creator_label and creator_data.total_scope %}
                    {% if creator_data.creator_article %}
                        {{_("Esta é a coleção de obras de %(creator_article)s no Museu do Ipiranga que possuem ao menos uma imagem e um descritor no Wikidata.", creator_article=creator_with_article)}}
                    {% else %}
                        {{_("Esta é a coleção de obras de %(creator_label)s no Museu do Ipiranga que possuem ao menos uma imagem e um descritor no Wikidata.", creator_label=creator_label)}}
                    {% endif %}
                    {% if creator_data.total_scope > 1 %}
                        {{_("Atualmente são %(total_scope)s obras que cumprem esses critérios.", total_scope=total_scope)}}
                    {% elif creator_data.total_scope == 1 %}
                        {{_("Há atualmente somente uma imagem no banco de dados que satisfaz esses critérios.")}}
                    {% else %}
                        {{_("Atualmente não há nenhuma imagem no banco de dados que satisfaz esses critérios.")}}
                    {% endif %}
                    {% if creator_data.total == '1' %}
                        {{_("Há um total de uma obra de %(creator_label)s no Museu do Ipiranga cadastrada no banco de dados do Wikidata.", creator_label=creator_label)}}
                    {% else %}
                        {{_("Há um total de %(total)s obras de %(creator_label)s no Museu do Ipiranga cadastradas no banco de dados do Wikidata.", total=total, creator_label=creator_label, wikidata=wikidata )}}
                    {% endif %}
                {% endif %}
                <br><small>{{ _("Para voltar à página anterior, %(clique_aqui)s.", clique_aqui=clique_aqui) }}</small>
            {% else %}
                {{ _("Escolha um(a) criador(a) para começar a jogar.") }}
                {{_("Ou volte à %(pagina_inicial)s.", pagina_inicial=pagina_inicial)}}
            {% endif %}
        </p><br/>
    </div>
{% endblock %}

{% block content %}
<div class="container" style="width:66%;">
    <ul class="buttons_list">
        {% for creator in creators %}
            <li>
                <a href="{{ url_for('show_works_of_creator',qid=creator.qid) }}">
                    <button name="creator" class="button" value="{{creator.qid}}" style="width:100%;height:100%">
                        {{ creator.label }}
                    </button>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="container" style="width:100%;">
    <div class="container" style="column-width:200px;">
        {% for work in creator %}
            <a href="{{url_for('view_work_museudoipiranga', qid=work.qid, lang=lang) }}">
                <div class="grid_image">
                    <img src="{{ work.image }}" width="100%"
                         style="object-fit:contain;max-widht:1000px; max-height:500px; align:center;"/>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}