{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block divright %}
    {% if lang != 'en' %}
        <a class="right" tabindex="0" href="{{url_for('set_locale', return_to=request.script_root + request.full_path, lang='en')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Flag-us.svg" width="25px" alt="en"></a>
    {% endif %}
    {% if lang != 'pt' and lang != 'pt-BR' %}
        <a class="right" tabindex="0" href="{{url_for('set_locale', return_to=request.script_root + request.full_path, lang='pt')}}"><img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Flag-br.svg" width="25px" alt="pt"></a>
    {% endif %}
    {% if username %}
        <a class="right" tabindex="0" href="https://www.wikidata.org/wiki/Special:Contributions/{{username}}">{{username}}</a>
    {% endif %}
{% endblock %}

{% block title %}{{_("Coleções")}} | {{ _("Povo Conta") }}{% endblock %}

{% block initial_text %}
<div class="w3-row" id="initial_text" style="text-align: center">
    <div class="w3-container w3-quarter"></div>
    <div class="w3-container w3-half">
        <p>
            {% set pagina_inicial %}<a tabindex="0" href="{{ url_for('museudoipiranga') }}">{{_("página inicial")}}</a>{% endset %}
            {% if collection and collection_data %}
                {% set collection_label %}{{collection_data.collection_label}}{% endset %}
                {% set named_after_with_article %}<a tabindex="0" target="_blank" href="https://pt.wikipedia.org/wiki/{{collection_data.named_after_article}}">{{collection_data.named_after_label}}</a>{% endset %}
                {% set named_after_label %}{{collection_data.named_after_label_label}}{% endset %}
                {% set total %}{{collection_data.total}}{% endset %}
                {% set total_scope %}{{collection_data.total_scope}}{% endset %}
                {% set collection_article %}<a tabindex="0" target="_blank" href="https://pt.wikipedia.org/wiki/{{collection_data.collection_article}}">{{_("um artigo na Wikipédia")}}</a>{% endset %}
                {% set collection_category %}<a tabindex="0" target="_blank" href="https://commons.wikimedia.org/wiki/{{collection_data.collection_category}}">{{_("Wikimedia Commons")}}</a>{% endset %}
                {% set clique_aqui %}<a tabindex="0" href="{{ url_for('show_per_collection') }}">{{_("clique aqui")}}</a>{% endset %}
                {% if collection_data.collection_label %}
                    {{_("Esta é a %(collection_label)s.", collection_label=collection_label)}}
                {% endif %}
                {% if collection_data.named_after_label %}
                    {% if collection_data.named_after_article %}
                        {{_("É nomeada em homenagem a %(named_after_with_article)s.", named_after_with_article=named_after_with_article)}}
                    {% else %}
                        {{_("É nomeada em homenagem a %(named_after_label)s.", named_after_label = named_after_label)}}
                    {% endif %}
                {% endif %}
                {% if collection_data.total and collection_data.total_scope %}
                    {% if collection_data.total_scope >1 %}
                        <br>{{_("Possui %(total)s obras registradas no Wikidata, das quais %(total_scope)s possuem ao menos uma imagem e um descritor no banco de dados.", total=total, total_scope=total_scope)}}
                    {% else %}
                        <br>{{_("Possui %(total)s obras registradas no Wikidata, das quais %(total_scope)s possui ao menos uma imagem e um descritor no banco de dados.", total=total, total_scope=total_scope)}}
                    {% endif %}
                {% endif %}
                {% if collection_data.collection_article and collection_data.collection_category %}
                    <br>{{_("A coleção possui %(collection_article)s e todas as suas imagens podem ser encontradas no %(collection_category)s.", collection_article=collection_article, collection_category=collection_category)}}
                {% elif collection_data.collection_article and not collection_data.collection_category %}
                    <br>{{_("A coleção possui %(collection_article)s.", collection_article=collection_article)}}
                {% elif not collection_data.collection_article and collection_data.collection_category %}
                    <br>{{_("Todas as imagens da coleção podem ser encontradas no %(collection_category)s.", collection_category=collection_category)}}
                {% endif %}
                <br>
                <small>{{ _("Para voltar à página anterior, %(clique_aqui)s.", clique_aqui=clique_aqui) }}</small>
            {% else %}
                {{_("Escolha uma coleção para começar a jogar.") }}
                {{_("Ou volte à %(pagina_inicial)s.", pagina_inicial=pagina_inicial)}}
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="button_list" class="container">
    <ul class="buttons_list">
        {% for collection in collections %}
            <li>
                <a tabindex="0" href="{{ url_for('show_works_in_collection',qid=collection.qid) }}">
                    <button name="collection" class="button" value="{{collection.qid}}" style="width:100%;height:100%">
                        {{ collection.label }}
                    </button>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div id="image_list" class="container" style="width:100%">
    <div class="container" style="column-width:200px;">
        {% for work in collection %}
        <a tabindex="0" href="{{url_for('view_work_museudoipiranga', qid=work.qid, lang=lang) }}">
            <div class="grid_image">
                <img src="{{ work.image }}" width="100%" alt="{{ work.label }}"
                     style="object-fit:contain;max-widht:1000px; max-height:500px; align:center;"/>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}