{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block navright %}
    {% if username %}
        <li class="nav-item" style="display:inline;">
            <a href="https://www.wikidata.org/wiki/Special:Contributions/{{username}}">
                <button style="
                background-color: white;
                border: none;
                border-radius: 5px;
                color: #547473;
                padding: 10px;
                align: center;">
                {{username}}
            </button>
            </a>
        </li>
        <li class="nav-item" style="display:inline;">
            <a href="{{ url_for('logout', next=request.script_root + request.full_path) }}">
                <button style="background-color: white;
                               border: none;
                               border-radius: 5px;
                               color: #547473;
                               padding: 10px;
                               align: center;">
                    <span class="fas fa-sign-out-alt" aria-hidden="true"></span>
                    {{_("Sair")}}
                </button>
            </a>
        </li>
    {% else %}
        <li class="nav-item" style="display:inline;">
            <a href="{{ url_for('login', next=request.script_root + request.full_path) }}">
                <button style="
                background-color: white;
                border: none;
                border-radius: 5px;
                color: #547473;
                padding: 10px;
                align: center;">
                    <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
                    {{_("Autenticar-se")}}
                </button>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block banner %}
    <br/>
    <div class="container" style="width:100%">
        <p style="text-align:center;font-size:1.2em;">
            {% if collection and collection_data %}
                {% if collection_data.collection_label %}
                    Esta é a {{collection_data.collection_label}}.
                {% endif %}
                {% if collection_data.named_after_label %}
                    {% if collection_data.named_after_article %}
                        É nomeada em homenagem a <a href="https://pt.wikipedia.org/wiki/{{collection_data.named_after_article}}">{{collection_data.named_after_label}}</a>.
                    {% else %}
                        É nomeada em homenagem a {{collection_data.named_after_label}}.
                    {% endif %}
                {% endif %}
                {% if collection_data.total and collection_data.total_scope %}
                    <br>Possui {{collection_data.total}} obras registradas no Wikidata, das quais {{collection_data.total_scope}} {% if collection_data.total_scope >1 %} possuem {% else %} possui {% endif %} ao menos uma imagem e um descritor no banco de dados.
                {% endif %}
                {% if collection_data.collection_article %}
                    <br>A coleção possui <a href="https://pt.wikipedia.org/wiki/{{collection_data.collection_article}}">um artigo na Wikipédia</a>
                {% endif %}
                {% if collection_data.collection_article and collection_data.collection_category %}
                    e todas as imagens dela podem ser encontradas no <a href="https://commons.wikimedia.org/wiki/{{collection_data.collection_category}}">Wikimedia Commons.</a>
                {% endif %}
                {% if not collection_data.collection_article and collection_data.collection_category %}
                    Todas as imagens da coleção podem ser encontradas no <a href="https://commons.wikimedia.org/wiki/{{collection_data.collection_category}}">Wikimedia Commons.</a>
                {% endif %}
            {% else %}
                {{ _("Escolha uma coleção para começar a jogar.") }}
            {% endif %}
        </p><br/>
    </div>
{% endblock %}

{% block content %}
<ul style="text-align:center">
    {% for collection in collections %}
        <li>
            <a href="{{ url_for('show_works_in_collection',qid=collection.qid) }}">
                <button name="collection" class="button" value="{{collection.qid}}">
                    {{ collection.label }}
                </button>
            </a>
        </li>
    {% endfor %}
</ul>
<ul style="text-align:center">
    {% for work in collection %}
    <li>
        <a href="{{url_for('view_work_museudoipiranga', url_prefix= 'P195-'+qid, qid=work.qid) }}">
            <img src="{{ work.image }}" style="object-fit:contain;max-widht:1000px; max-height:500px; align:center;"/>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}