{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Amatic+SC:700" type='text/css'>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block navright %}
    {% if username %}
        <li class="nav-item" style="display:inline;">
            <a href="https://www.wikidata.org/wiki/Special:Contributions/{{username}}">
                <button style="
                background-color: white;
                border: none;
                border-radius: 5px;
                color: #547473;
                padding: 10px;
                align: center;">
                {{username}}
            </button>
            </a>
        </li>
        <li class="nav-item" style="display:inline;">
            <a href="{{ url_for('logout', next=request.script_root + request.full_path) }}">
                <button style="background-color: white;
                               border: none;
                               border-radius: 5px;
                               color: #547473;
                               padding: 10px;
                               align: center;">
                    <span class="fas fa-sign-out-alt" aria-hidden="true"></span>
                    {{_("Sair")}}
                </button>
            </a>
        </li>
    {% else %}
        <li class="nav-item" style="display:inline;">
            <a href="{{ url_for('login', next=request.script_root + request.full_path) }}">
                <button style="
                background-color: white;
                border: none;
                border-radius: 5px;
                color: #547473;
                padding: 10px;
                align: center;">
                    <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
                    {{_("Autenticar-se")}}
                </button>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block banner %}
    <br/>
    <div class="container" style="width:50%">
        <h1 style="text-align:center;">{{ _("Povo Conta") }}<br><small style="font-size: 0.48em;">{{ _("Novo Museu do Ipiranga") }}</small></h1><br/>
        <p style="text-align:center">{{ _("Esta é uma ferramenta Wiki para inserir e validar os qualificadores de quantidade de itens retratados nos itens do acervo do Museu no Wikidata.") }}</p><br/>
        {% if collection %}
            <p style="text-align:center">{{ _("Abaixo estão listadas as coleções do Museu cujas obras já estão carregadas no Wikimedia Commons.") }}</p><br/>
        {% else %}
            <p style="text-align:center">{{ _("Abaixo estão listadas as obras desta coleção. Escolha uma para validar ou quantificar as entidades retratadas") }}</p><br/>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
<p style="text-align:center">{{ _("Escolha uma opção:") }}</p>
<ul style="text-align:center">
    {% for collection in collections %}
        <li>
            <a href="{{ url_for('show_works_in_collection',qid=collection.qid) }}">
                <button name="collection" class="button" value="{{collection.qid}}">
                    {{ collection.label }}
                </button>
            </a>
        </li>
    {% endfor %}
</ul>
<ul style="text-align:center">
    {% for work in collection %}
    <li>
        <a href="{{url_for('view_work_museudoipiranga', url_prefix= 'P195-'+qid, qid=work.qid) }}">
            <button name="work" class="button" value="{{work.qid}}" style="padding: 10px;">
                {{ work.label }} ({{ work.qid }})
            </button>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}