{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock %}

{% block scripts %}
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
{% endblock %}

{% block divright %}
    {% if username %}
        <a class="right" href="{{ url_for('logout', next=request.script_root + request.full_path) }}"><span class="fas fa-sign-out-alt" aria-hidden="true"></span> {{_("Sair")}}</a>
        <a class="right" target="_blank" href="https://www.wikidata.org/wiki/Special:Contributions/{{username}}">{{username}}</a>
    {% else %}
        <a class="right" href="{{ url_for('login', next=request.script_root + request.full_path) }}"><span class="fas fa-sign-in-alt" aria-hidden="true"></span> {{_("Autenticar-se")}}</a>
    {% endif %}
{% endblock %}

{% block banner %}
    <br/>
    <div class="container" style="width:100%">
        <p style="text-align:center;font-size:1.2em;">
            {% if depict and depict_data %}
                Esta é uma coleção de obras do Museu Paulista que retratam <a target="_blank" href="https://www.wikidata.org/wiki/{{qid}}">{{depict_data.depict_label}}</a> e que possuem ao menos uma imagem e um descritor no Wikidata.
                Há atualmente {{depict_data.total_scope}}{% if depict_data.total_scope > 1 %} obras registradas no banco de dados que satisfazem esse critério. {% else %} obra registrada no banco de dados que satisfaz esse critério. {% endif %}
            {% else %}
                {{ _("Escolha um descritor para começar a jogar.") }}
            {% endif %}
        </p><br/>
    </div>
{% endblock %}

{% block content %}
<ul style="text-align:center">
    {% for depict in depicts %}
        <li>
            <a href="{{ url_for('show_works_of_depict', qid=depict.qid) }}">
                <button name="depict" class="button" value="{{depict.qid}}">
                    {{ depict.label }}
                </button>
            </a>
        </li>
    {% endfor %}
</ul>
<ul style="text-align:center">
    {% for work in depict %}
    <li>
        <a href="{{url_for('view_work_museudoipiranga', qid=work.qid) }}">
            <img src="{{ work.image }}" style="object-fit:contain;max-widht:1000px; max-height:500px; align:center;"/>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}