{% extends "base.html" %}

{% block title %}{{_("Ajuda")}} | {{ _("Wiki Museu do Ipiranga - Quantos tem?") }}{% endblock %}

{% block content %}
<div class="w3-row" id="tutorial" style="text-align: center">
    <div class="w3-container w3-quarter"></div>
    <div class="w3-container w3-half">
        <video style="width: 100%; height: auto" controls>
            <source src="http://commons.wikimedia.org/wiki/Special:FilePath/Povo Conta.webm" type="video/mp4">
            <track src="{{ url_for('static', filename='subtitles_tutorial_en.vtt') }}" kind="subtitles" srclang="en" label="English" />
        </video>
    </div>
</div>
{% endblock %}