{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Amatic+SC:700" type='text/css'>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<script>
    function goBack() {
        window.history.back();
    }
    function validator_with_quantity(qid) {
        var quantity_of = "{{_('Quantidade de ')}}"
        var elementos = document.getElementsByClassName("depicts");
        for(var i=0; i<elementos.length; i++) {
            if (elementos[i].id==qid.qid) {
                elementos[i].style.backgroundColor="#06b6c9";
                document.getElementById("quantity_label").textContent=quantity_of+'"'+qid.name+'": '+qid.quantity;
                document.getElementById("quantity_validator").style.display="inline";
                document.getElementById("validator_without_quantity").style.display="none";
            }
            else {
                elementos[i].style.backgroundColor="#d4d4d4";
            }
        }
    }

    function validator_without_quantity(qid) {
        var no_recorded_quantity_of = "{{_('Não há quantidade registrada de ')}}"
        var elementos = document.getElementsByClassName("depicts");
        for(var i=0; i<elementos.length; i++) {
            elementos[i].style.backgroundColor="#d4d4d4";
        }

        document.getElementById("no_quantity_label").textContent=no_recorded_quantity_of+'"'+qid.name+'".';
        document.getElementById("validator_without_quantity").style.display="inline";
        document.getElementById("quantity_validator").style.display="none";
    }
</script>
{% endblock %}
{% block content %}
<h1 style="text-align:center"><a href="/mp" class="nav-link">{{_("Povo Conta")}}</a></h1>
{% if show %}
<p style="text-align:center">{{_("Valide a wikidatificação de outras pessoas!")}}</p>
{% if not image %}
<form action="" method="POST" style="text-align:center">
    <p style="text-align:center">{{_("Digite o QID:")}}</p>
    <input type="text" name="qid" class="input" required="required"/>
    <br><br>
    <p>
    <form action="{{ url_for('validate') }}" method="post">
        <button name="validate"
                class="validate"
                type="submit"
                value="Submit">{{_("Validar")}}</button>
    </form></p>
</form>
{% else %}
<table style="text-align:center">
    {% if entities %}
    <tr>
        <td rowspan="3"><img src="{{ image }}" style="max-widht:1000px; max-height:500px; align:center;" ></td>
        <td>
            <div id="quantity_validator" style="display:none">
                <p id="quantity_label"></p>
                <button class="validator_yes" id="validator_yes" style="background-color:green">{{_("SIM")}}</button>
                <button class="validator_no" id="validator_maybe" style="background-color:#d4d4d4">{{_("NÃO SEI")}}</button>
                <button class="validator_no" id="validator_no" style="background-color:red">{{_("NÃO")}}</button>
            </div>
            <div id="validator_without_quantity" style="display:none">
                <p id="no_quantity_label"></p>
            </div>
        </td>
    </tr>
    <tr><td><br></td></tr>
    <tr>
        <td>
            {% for entity in entities %}
            {% if entity.quantity > 0 %}
            <button class="depicts" id="{{ entity.qid }}" onclick="validator_with_quantity({{ entity }})" style="background-color:#d4d4d4" >{{entity.name}} ({{entity.quantity}})</button>
            {% else %}
            <button class="depicts" id="{{ entity.qid }}" onclick="validator_without_quantity({{ entity }})" style="background-color:#d4d4d4" >{{entity.name}} ({{entity.quantity}})</button>
            {% endif %}
            {% endfor %}
            {% endif %}
        </td>
    </tr>
</table>
{% endif %}
{% else %}
<p style="text-align:center">{{_("Esta entidade não possui imagem ou itens retratados para serem validados.")}}</p>
<p style="text-align:center">
    <button name="validate"
            class="validate"
            value="validate"
            onclick="goBack()">{{ _("Tente novamente") }}
    </button>
    ou
    <a href="{{ url_for('wikidatify') }}/{{item}}">
        <button name="wikidatify"
                class="wikidatify"
                value="wikidatify">{{ _("Wikidatifique") }}</button>
    </a>
</p>
{% endif %}
{% endblock %}