{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'static.css') }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Amatic+SC:700" type='text/css'>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script>
    function search() {
        document.getElementById("messages").style.display="none";
        var term = document.getElementById("getlist").value;
        if(!term.includes("| Q")){
            var lang = "pt-br";
            var url = "https://www.wikidata.org/w/api.php?&origin=*&action=wbsearchentities&format=json&type=item&language="+lang+"&search="+term;
            fetch(url)
            .then((resp) => resp.json())
            .then(function(resp){
                var suggestions = resp.search;
                var dataList = document.getElementById('entity_inserted');
                dataList.innerHTML = "";
                for (var i=0; i<suggestions.length; i++) {
                    var option = document.createElement('option');
                    option.textContent = suggestions[i].description;
                    option.value = suggestions[i].label+" | "+suggestions[i].id;
                    dataList.appendChild(option);
                }
             })
            .catch(function(){
                console.log("erro");
            })
        }
        else {
            if(document.getElementById("getlist").value) {
                document.getElementById("insert_quantity").style.display="inline";
                document.getElementById("post_entity_and_quantity").style.display="inline";
            }
            else {
                document.getElementById("insert_quantity").style.display="none";
                document.getElementById("post_entity_and_quantity").style.display="none";
            }
        }
    }
</script>
{% endblock %}
{% block content %}
<h1 style="text-align:center"><a href="/" class="nav-link">{{_("Wikidatificador de Imagens")}}</a></h1>
{% if show %}
<p style="text-align:center">{{_("Declare as entidades retratadas e suas quantidades!")}}</p>
{% if not image %}
<form action="" method="POST" style="text-align:center">
    <p style="text-align:center">{{_("Digite o QID:")}}</p>
    <input type="text" name="qid" class="input" required="required"/>
    <br><br>
    <p>
    <form action="{{ url_for('wikidatify') }}" method="post">
        <button name="wikidatify"
                class="wikidatify"
                type="submit"
                value="Submit">{{_("Wikidatificar")}}</button>
    </form></p>
</form>
{% else %}
<table style="text-align:center">
    <tr valign="top" align="center">
        <td rowspan="2"><img src="{{ image }}" style="max-widht:1000px; max-height:500px; align:center; margin-right:10px; padding-right:5px;" ></td>
        <td style="margin-left:10px; padding-left:5px">
            <form action="{{ url_for('wikidatify') }}/{{item}}" method="post">
                <div id="insert_entity" style="display:inline">
                    <p id="entity">{{_("Qual entidade você vê nesta imagem?")}}</p>
                    <input type="text" id="getlist" list="entity_inserted" required="required" oninput="search()" style="width: 100%;" placeholder="{{_('Pesquise uma entidade no Wikidata')}}">
                    <datalist id="entity_inserted"></datalist>
                </div>
                <div id="insert_quantity" style="display:none">
                    <br><br>
                    <p id="quantity">{{_("Quantidade?")}}</p>
                    <input type="number" name="quantity" class="input" min="1" step="1" value="1"/>
                </div>
                <p id="post_entity_and_quantity" style="display:none"><br><br><button name="post_entity_and_quantity"
                class="post_to_wikidata"
                type="submit"
                value="Submit">{{_("Confirmar")}}</button></p>
            </form>
        </td>
    </tr>
    <tr id="messages" valign="bottom" align="center">
        <td>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for message in messages %}
            {% if "Error" not in message[1]: %}
            <div class="alert alert-info"><strong>{{_("Declaração inserida com sucesso!")}}</strong></div>
            {% endif %}

            {% if "Error" in message[1]: %}
            <div class="alert alert-warning">{{_("Erro desconhecido!")}}</div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </td>
    </tr>
</table>
{% endif %}
{% else %}
<p style="text-align:center">{{_("Esta entidade não possui imagem.")}}</p>
<p style="text-align:center">
    <a href="{{ url_for('wikidatify') }}">
        <button name="wikidatify"
                class="wikidatify"
                value="wikidatify">{{ _("Tente novamente") }}</button>
    </a>
</p>
{% endif %}
{% endblock %}